.mainbavbar{
    background-color: #094457;
}
.logo{
    width: 100px;
    height: 50px;
}
/* .nav-link.active{
    background-color: white;
    
    opacity: 0.1;
    color: #094457 !important;
    font-weight: bolder;
    font-size: 15px;
    
} */
.MAINHEAD{
    font-size: 25px !important;
  
}
