.homepage-mainheadeing{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 10px;
    padding-bottom: 40px;
}
.homepagecontainer{
padding:0px 200px
}
.makeStyles-avatar-3 {
    margin: 8px;
    background-color: #094457 !important;}
.MuiButton-containedPrimary{
    background-color: #094457 !important;}
    .MuiButton-containedPrimary:hover{
zoom: 1.04;
    }
@media screen and (max-width:1100px){
    .homepagecontainer{
        padding:0px 100px
        }
}
@media screen and (max-width:500px){
    .homepagecontainer{
        padding:0px 30px
        }
        .root{
            height:300px
        }
}