.plan-mainheadeing{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.plancontainer{
    
padding:0px 200px;


}
.makeStyles-avatar-28 {
    margin: 8px;
    background-color: #094457 !important;}
.MuiButton-containedPrimary{
    background-color: #094457 !important;}
    .MuiButton-containedPrimary:hover{
zoom: 1.04;
    }
.plancontainer h3{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 0px;
    padding-bottom: 40px;
    }
    @media screen and (max-width:800px){
        .plancontainer{
    
            padding:0px 100px;
            
            
            }  
    }
    @media screen and (max-width:800px){
        .plancontainer{
    
            padding:0px 30px;
            
            
            }  
    }